doctype html
html(lang="en")
head

    // META 
    title Badges
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')


    // CSS 
    link(rel="stylesheet" href="base.css")

body
    .wrapper

      header
        block header

      main
        block main