extends ./includes/_layout

//- HEADER
block header
  .container
    h1.title Badges
    //- Source: https://stackoverflow.com/a/6752736.
    p.subtitle(style="white-space: pre")
      | Metadata ready to be copy-pasted to README files.
      | Adapted from Brave UX's "For the Badge".
    a.down

//- MAIN
block main
  section
    ul.badge-list
      each badge in badges
        li
          img.view-all-badge(src=`images/badges/${badge}`)
          .view-all-copy
            a.inline-copy.markdown(href="#")
            a.inline-copy.imageurl(href="#")
