.badge-list {
  list-style: none;
  margin: 0 auto;
  max-width: 600px;
  padding-left: 0;
  @include size(100% auto);

  li {
    display: flex;
    margin-bottom: 9px;
  }
}

.view-all-copy {
  margin-left: auto;
}

.inline-copy {
  @include size(60px 35px);
  background-color: $black;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-color 200ms ease;
  float: right;

  &:hover {
    background-color: rgba($black, 0.75);
  }

  &.imageurl {
    background-image: url("images/imageurl.svg");
  }

  &.markdown {
    background-image: url("images/markdown.svg");
  }
}
