header {
  position: relative;
  background-color: $black;
  text-align: center;
  border-bottom: 2px dashed $white;
  padding: 40px;
}

.title {
  color: $white;
  margin-bottom: 20px;
}

.subtitle {
  color: $white;
  margin-bottom: 40px;
}

.down {
  position: relative;
  display: block;
  @include size(26px 33px);
  margin: 0 auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    @include size(26px 13px);
    background: url("images/down.svg") center center no-repeat;
  }
}
